.main-app {
  background-color: #87ceeb;
  height: 1000px;
}

.App {
  text-align: center;
  font-family: 'Notable', sans-serif;
}

.weather-div {
  display: flex;
  flex-flow: row wrap;
  margin: 10px;
  height: 600px;
}

